* {
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    -moz-touch-callout: none;
    -moz-text-size-adjust: none;
    -moz-user-select: none;

    -ms-touch-callout: none;
    -ms-text-size-adjust: none;
    -ms-user-select: none;

    touch-callout: none;
    text-size-adjust: none;
    user-select: none;

    background-color: #272527;
}
html,
body {
    overflow: hidden;
}
input, 
textarea {
	/*-webkit-overflow-scrolling: touch;*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}