* {
	padding: 0; 
	margin: 0; 
}

.form-field-title {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	margin: 15px 0 8px 8px;
	text-align: left;
	color: #F8F7F8;
	font-family: Native-Light, input, menlo, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 10px;
	letter-spacing: 0.5px;
	font-weight: 300;
}

.red-button {
	display: block;
	float: left;
	clear: left;
	margin-left: 32px;
	color: #F97777;
	font-family: Native-Light, input, menlo, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 10px;
	letter-spacing: 0.5px;
	text-decoration: none;
}

.action-button {
	display: inline-block;
	width: calc(50% - 4.5px);
	height: 32px;
	box-sizing: border-box;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 1.0;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.action-button.utility {
	color: #FCFBFC;
	background-color: #383638;
	box-shadow: 0 0.5px 1px 0 #161416, inset 0 0.5px 0 0 #494749;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: 400;
	line-height: 34px;
}

.action-button.action {
	color: #161416;
	background-color: #00C6FF;
	box-shadow: inset 0 0.5px 0 0 rgba(255,255,255,0.20);
	font-size: 13px;
	letter-spacing: 0;
	font-weight: 600;
	transform: none;
	line-height: 32px;
}

.action-button.destructive {
	color: #161416;
	background-color: #f97777;
	box-shadow: inset 0 0.5px 0 0 rgba(255,255,255,0.20);
	font-size: 13px;
	letter-spacing: 0;
	font-weight: 600;
	transform: none;
	line-height: 32px;
}

.action-button.disabled {
	opacity: 0.5;
}

.red-button:hover {
	text-decoration: underline;
}

.table-chevron {
	position : absolute;
	pointer-events : none;
	width : 7px;
	height : 12px;
	right : 16px;
	top : calc(50% - 6px);
}

.forgot-password-layer {
	-webkit-user-select :none;
	position :relative;
	box-sizing :border-box;
	width :100%;
	height :100%;
	padding :0;
	background-color :#272527;
	color :#c0c0c0;
	word-break :break-all;
}

.action-box-two-button {
	position: relative;
	width: calc(100% - 16px - 16px);
	margin-left: 16px;
	margin-top: 16px;
	height: 40px;
}

.empty-page-panel {
	width: calc(100% - 32px - 2px);
	height: calc(100% - 38px + 3px - 40px);
	margin: 19px 16px 0;
}

.empty-page-content-container {
	display: table-cell;
	vertical-align: middle;
	transform: translateY(-16px);
}

.stacked-navigation-panel {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.stacked-content-view {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.navigation-blue-button-enabled {
	background-color: #00c6ff;
	box-shadow: 0 0.5px 1px 0 #161416, inset 0 0.5px 0 0 rgba(255,255,255,0.20);
	color: #161416;
	font-weight: 600;
}

.navigation-blue-button-disabled {
	background-color: #383638;
	box-shadow: none;
	color: #6B696B;
	font-weight: 600;
}

.base-button {
	border-radius: 3px;
	height: 24px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-align: center;
	border: none;
	text-decoration: none;
	line-height: 24px;
	box-sizing: border-box;
	width: auto;
	padding: 0 8px;
}

.grey-menu-button {
	box-shadow: 0 0.5px 1px 0 #161416, inset 0 0.5px 0 0 #494749;
	background-color: #383638;
	color: #FCFBFC;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.left-back-button {
	display: block;
	float: right;
	margin-top: 10px;
	width: 26px;
	height: 24px;
	background-image: url(../../MMAppUICommonComponents/Resources/backButtonIcon@3x.png);
	background-size: 9px 14px;
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

.left-cancel-button {
	display: block;
	float: left;
	margin-top: 10px;
}

.right-add-button {
	float: right;
	margin-top: 10px;
	width: 26px;
	background-image: url(../../MMAppUICommonComponents/Resources/addButtonIcon_10@3x.png);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.right-save-button {
	float: right;
	margin-top: 10px;
}

.right-edit-button {
	display: block;
	float: right;
	margin-top: 10px;
}

.right-value-button {
	display: block;
	float: right;
	margin-top: 12px;
	width: auto;
	height: auto;
	text-decoration: none;
	font-family: Native-Light, input, menlo, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 10px;
	letter-spacing: 0.5px;
	color: #9E9C9E;
	line-height: 200%;
	text-align: center;
	cursor: default;
}

.nav-button-left-container {
	position: absolute;
	left: 16px;
	width: 15%;
	min-width: 41px;
	height: 41px;
}

.nav-button-right-container {
	position: absolute;
	right: 16px;
	width: 15%;
	min-width: 41px;
	height: 41px;
}

.nav-bar-panel {
	position: absolute;
	top: 0%;
	z-index: 9;
	width: 100%;
	height: 41px;
	background-color: #272527;
	transition: box-shadow 0.06 ease-in-out;
	webkit-app-region: drag;
	-webkit-user-select: none;
}

.nav-bar-background {
	position: absolute;
	width: 100%;
	height: 41px;
	background-color: #272527;
}

.nav-title-label {
	color: #fcfbfc;
	position: absolute;
	top: -1px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.5px;
	box-sizing: border-box;
	left: calc(15% + 16px);
	width: calc(70% - 32px - 10px);
	padding-left: 10px;
	height: 41px;
	text-align: center;
	line-height: 41px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/** FROM tables.web.js */
.table_field {
	 padding: 0;
 }
.table_field a.clickableLinkButton {

 }
.table_field .field_value {

 }
.table_field .field_value a,
 .table_field .field_value a:active,
 .table_field .field_value a:hover
 {
	 color: #FFFFFF;
	 cursor: default;
	 text-decoration: none;
 }
.table_field .field_value p {
	 display: block;
	 padding: 0 0 18px 0;
	 word-break: break-word;
 }

.inlineMessageDialogLayer {
	 background: rgba(245,230,125,0.05);
	 border: 0.5px solid rgba(245,230,125,0.30);
	 border-radius: 3px;
	 min-height: 29px;
	 box-sizing: border-box;
	 margin-left: 0;
	 margin-right: 0;
	 padding: 6px 8px 8px 8px;
	 margin-top: 15px;
	 margin-bottom: 10px;
	 height: auto;
	 width: 100%; /* feel free to set, along with margin left */
	 color: #F5E67E;
	 font-size: 11px;
	 font-weight: 400;
	 letter-spacing: 0.5px;
	 -webkit-font-smoothing: subpixel-antialiased;
	 word-break: break-word;
	 position: relative;
	 top: 0;
	 left: 0;
 }
.inlineMessageDialogLayer.wantsCloseButton {
	 padding-right: 18px;
 }
.inlineMessageDialogLayer > a.close-btn {
	 background-image: url(../../MMAppUICommonComponents/Resources/inlineMessageDialog_closeBtn@3x.png);
	 background-size: 8px 8px;
	 background-repeat: no-repeat;
	 background-position: center;
	 width: 27px;
	 height: 27px;
	 position: absolute;
	 right: 0px;
	 top: 0px;
	 display: block; /* for bounds as an a tag */
	 opacity: 0.8;
	 transition: opacity 0.05s ease-out;
 }
.inlineMessageDialogLayer > a.close-btn:hover {
	 opacity: 1.0;
 }
/** END FROM tables.web.js */

/** FROM forms.web.js */

.form_field {
	 padding: 0 24px 20px 24px;
 }
.form_field .field_title {
 }
.form_field .field_value {
	 -webkit-font-smoothing: subpixel-antialiased;
 }
.form_field .field_value::-webkit-input-placeholder {
	 -webkit-font-smoothing: subpixel-antialiased;
	 color: #6B696B;
 }
.form_field .field_value.placeholderAsValue::-webkit-input-placeholder {
	 color: #dfdedf;
 }
.iconAndMessageLayer {
	 padding: 7px 10px 7px 10px;
 }
.iconAndMessageLayer > img {
	 display: inline-block;
	 position: relative;
	 top: 1px;
 }
.iconAndMessageLayer > span {
	 display: inline-block;
 }

/** END FROM forms.web.js */

/** FROM EmojiPickerPopoverContentView.web.js */
.EmojiPickerPopoverContentView {
	 overflow-y: auto;
 }
.EmojiPickerPopoverContentView > .EmojiButtonView {
	 width: 42px;
	 height: 40px;
	 line-height: 40px;
	 text-indent: 0px; /* native emoji */
	 display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 font-size: 24px;
	 cursor: pointer;
	 background: rgba(0,0,0,0);
	 /* transition: background-color 0.05s ease-out, box-shadow 0.05s ease-out; */
 }
.EmojiPickerPopoverContentView > .EmojiButtonView.withNonNativeEmoji {
 }
.EmojiPickerPopoverContentView > .EmojiButtonView.active,
.EmojiPickerPopoverContentView > .EmojiButtonView:hover {
	 background: #F2F1F2;
	 box-shadow: 0 0.5px 0 0 #FFFFFF, inset 0 0.5px 1px 0 #DFDEDF;
	 border-radius: 3px;
 }
.EmojiPickerPopoverContentView > .EmojiButtonView .emojione {
	 transform: scale(.75);
	 margin-left: 3px;
	 margin-top: 0px;
 }

/** END FROM EmojiPickerPopoverContentView.web.js */

/** FROM ContactsListCellView.web.js */
.ContactsListCellView .emoji-label {
 }
.ContactsListCellView .emoji-label .emojione {
	 transform: scale(.5);
	 margin-left: -7px;
	 margin-top: -6px;
 }

/** END FROM ContactsListCellView.web.js */

/** FROM walleticons.web.js */
.walletIcon {
	 position: relative;
	 background-repeat: no-repeat;
	 background-position: center;
 }
.walletIcon.large-48 {
	 width: 48px;
	 height: 48px;
	 background-size: 48px 48px;
 }
.walletIcon.large-43 {
	 width: 43px;
	 height: 43px;
	 background-size: 43px 43px;
 }
.walletIcon.medium-32 {
	 width: 32px;
	 height: 32px;
	 background-size: 32px 32px;
 }

/** END FROM walleticons.web.js */

/** FROM hoverableCells.web.js */
.hoverable-cell {
	 transition: background-color 0.1s ease-out;
 }
.hoverable-cell.utility:not(.disabled):not(.active):not([disabled]):hover {
	 background-color: #3f3e3f !important;
 }
.hoverable-cell.action:not(.disabled):not(.active):not([disabled]):hover {
	 background-color: #33d1ff !important;
 }
.hoverable-cell.destructive:not(.disabled):not(.active):not([disabled]):hover {
	 background-color: #F77E7E !important;
 }
.hoverable-cell.disableable[disabled=disabled],
.hoverable-cell.disableable.disabled {
	 opacity: 0.5;
 }
/** END FROM hoverableCells.web.js */

/** FROM activityIndicators.web.js */
.activityIndicators .loader > .block  {
	 margin: 1px;
	 float: left;
	 width: 3px;
	 height: 8px;
	 border-radius: 2px;
	 box-shadow: inset 0 1px 0 rgba(73, 71, 73, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
 }
.activityIndicators.on-normal-background .loader > .block  {
	 background-color: #383638;
	 animation: block-animate-normal-bg .75s infinite ease-in-out;
 }
.activityIndicators.on-accent-background .loader > .block  {
	 background-color: #5A585A;
	 animation: block-animate-on-accent-bg .75s infinite ease-in-out;
 }
.activityIndicators .loader > .block1 {
	 animation-delay: -1.2s !important;
 }
.activityIndicators .loader > .block2 {
	 animation-delay: -1.0s !important;
 }
.activityIndicators .loader > .block3 {
	 animation-delay: -0.8s !important;
 }
@keyframes block-animate-normal-bg {
	 0%, 20%, 60%, 100% {
		 transform: translateY(2px);
		 background-color: #383638;
	 }
	 40% {
		 transform: translateY(0);
		 background-color: #494749;
	 }
 }
@keyframes block-animate-on-accent-bg {
	 0%, 20%, 60%, 100% {
		 transform: translateY(2px);
		 background-color: #5A585A;
	 }
	 40% {
		 transform: translateY(0);
		 background-color: #7C7A7C;
	 }
 }
.activityIndicators.graphicAndLabel {
	 padding: 8px 10px 7px 32px;
 }
.activityIndicators.graphicAndLabel > div.loader {
	 display: inline-block;
	 position: relative;
	 top: 0px;
 }
.activityIndicators.graphicAndLabel > span {
	 display: inline-block;
 }
/** END FROM activityIndicators.web.js */

/** FROM contactPicker.web.js */
.contactPicker .autocomplete-results .row .emojione {
	 position: absolute;
	 left: 5px;
	 top: -1px;
	 transform: scale(.5);
 }
.contactPicker .autocomplete-results .row .title {
	 position: absolute;
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;

	 top: 0px;
	 left: 48px;
	 width: calc(100% - 48px - 12px)
 }
.contactPicker .autocomplete-results .row .title.withNonNativeEmoji	 {
 }
.contactPicker .picked-contact .emojione {
	 position: absolute;
	 left: 1px;
	 top: -1px;
	 transform: scale(.5);
 }
.contactPicker .picked-contact .title {
	 margin-left: 10px;
 }
.contactPicker .picked-contact .title.withNonNativeEmoji {
	 margin-left: 21px;
 }

/** END FROM contactPicker.web.js */

/** FROM emptyScreens.web.js */
.emptyScreens {
	 position: relative;
	 display: table; /* for valign */
	 border: 1px solid #373537;
	 border-radius: 5px;
 }
.emptyScreens .content-container .message-label {
	 margin: 0 0 0 0;
	 width: 100%;
	 height: auto;
	 line-height: 19px;
	 color: #9e9c9e;
	 text-align: center;
	 font-family :-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	 letter-spacing :0;
	 font-size :13px;
	 -webkit-font-smoothing :subpixel-antialiased;
	 font-weight :300;
 }
.emptyScreens .content-container .emoji-label {
	 margin: 0 0 23px 0;
	 width: 100%;
	 height: 21px;
	 font-size: 13px;
	 text-align: center;
	 -webkit-font-smoothing: subpixel-antialiased;
 }
.emptyScreens .content-container .emoji-label .emojione {
	 transform: scale(.5);
	 margin-left: 0px;
	 margin-top: 1px;
 }

/** END FROM emptyScreens.web.js */

/** FROM NavigationBarView.web.js */
.NavigationBarView .title-label {
 }
.NavigationBarView .title-label .emojione {
	 transform: scale(.5);
	 margin: 7px 0 0 -16px;
	 position: absolute;
 }

/** END FROM NavigationBarView.web.js */