
#exchangePage {
    padding-bottom: 50px;
}

#exchangePage .amount {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 2px 22px 0px;
}

#exchangePage .field_value {
    display: inline-block;
    height: 29px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: right;
    font-size: 13px;
    font-weight: 200;
    padding: 0px 63px 0px 7px;
    font-family: Native-Light, input, menlo, monospace;
    outline: none;
    box-shadow: rgba(56, 54, 56, 0.5) 0px 0.5px 0px 0px, rgb(22, 20, 22) 0px 0.5px 0px 0px inset;
    color: rgb(223, 222, 223);
    background-color: rgb(29, 27, 29);
}

#exchangePage select {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
     -webkit-font-smoothing: subpixel-antialiased;
     font-size: 11px;
     font-weight: 400;
     letter-spacing: 0.5px;
     text-indent: 10px;
     color: rgb(223, 222, 223);
     background-color: rgba(80, 74, 80, 0.55);
     position: absolute;
     left: 117.5px;
     width: 56px;
     height: 29.5px;
     border: 0px;
     padding: 0px;
     border-radius: 0px 4px 4px 0px;
     -webkit-appearance: none;
     top: 24px;

}

#exchangePage #exchangeRate {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.description-label {
    position: relative;    
    box-sizing: border-box;
    padding: 0px 38px 4px 66px; 
    font-size: 13px; 
    font-family: Native-Light, input, menlo, monospace; 
    font-weight: 100; 
    -webkit-font-smoothing: subpixel-antialiased; 
    max-height: 32px; color: rgb(158, 156, 158); 
    word-break: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    cursor: default;
}

.label-spacer {
    border-radius: 3px; 
    background-color: rgb(56, 54, 56); 
    padding: 8px 11px; 
    box-sizing: border-box; width: 100%; height: auto; color: rgb(124, 122, 124); font-size: 13px; font-weight: 100; font-family: Native-Light, input, menlo, monospace; -webkit-font-smoothing: subpixel-antialiased; word-break: break-all;"
}

.clickableLinkButton {
    color: rgb(17, 187, 236); 
    cursor: pointer; 
    user-select: none;
    font-family: Native-Light, input, menlo, monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 10px;
    letter-spacing: 0.5px;
    width: auto;
    display: inline;
    clear: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 8px 0px 0px 7px;
    font-weight: 300;
    float: none;
}