<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mymonero.mymonero-mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyMonero</name>
    <description>
    </description>
    <author email="dev@mymonero.com" href="https://www.mymonero.com/mobile">
        MyMonero
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="http://localhost"/>
	<access origin="*" />
    <access origin="http://localhost"/>
    <allow-intent href="monero:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <engine name="ios" spec="~4.3.1" />
</widget>
