<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mymonero.mymoneromobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyMonero</name>
    <description>
    </description>
    <author email="dev@mymonero.com" href="https://www.mymonero.com/mobile">
        MyMonero
    </author>
    <content src="index.html" />
    <access origin="http://localhost" />
    <access origin="*" />
    <access origin="http://localhost" />
    <allow-intent href="monero:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="cordova_res/build/android/default.png" />
        <icon src="cordova_res/build/android/icon.png" />
    </platform>
    <preference name="SplashScreenDelay" value="100" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="cordova_res/build/ios/Default@2x~universal~anyany.png" />
        <icon height="40" src="cordova_res/build/ios/icon-40.png" width="40" />
        <icon height="80" src="cordova_res/build/ios/icon-40@2x.png" width="80" />
        <icon height="50" src="cordova_res/build/ios/icon-50.png" width="50" />
        <icon height="100" src="cordova_res/build/ios/icon-50@2x.png" width="100" />
        <icon height="120" src="cordova_res/build/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="cordova_res/build/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="cordova_res/build/ios/icon-72.png" width="72" />
        <icon height="144" src="cordova_res/build/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="cordova_res/build/ios/icon-76.png" width="76" />
        <icon height="152" src="cordova_res/build/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="cordova_res/build/ios/icon-83.5@2x.png" width="167" />
        <icon height="29" src="cordova_res/build/ios/icon-small.png" width="29" />
        <icon height="58" src="cordova_res/build/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="cordova_res/build/ios/icon-small@3x.png" width="87" />
        <icon height="57" src="cordova_res/build/ios/icon.png" width="57" />
        <icon height="114" src="cordova_res/build/ios/icon@2x.png" width="114" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="MainWindow/Resources/cordova/Default@2x~universal~anyany.png" />
        <splash src="local_modules/MainWindow/Resources/cordova/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-file" spec="~4.3.2" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.6" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="com.ozexpert.devicemeta" spec="https://github.com/ozexpert/cordova-plugin-device-meta.git" />
    <plugin name="cordova-plugin-compat" spec="~1.1.0" />
    <plugin name="cordova-save-image-gallery" spec="~0.0.26" />
    <engine name="ios" spec="~4.3.0" />
    <engine name="android" spec="https://github.com/apache/cordova-android" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-base64-to-gallery" spec="https://github.com/medi-y-sato/cordova-base64-to-gallery" />
    <plugin name="cordova-plugin-image-picker" spec="~1.1.1">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="The MyMonero app uses your device's photo roll for downloading and for opening Monero Request QR code files." />
    </plugin>
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.2.0">
        <variable name="URL_SCHEME" value="monero" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
</widget>
